.list-group .card {
  margin-bottom: 12px;
}

.list-group .card:last-child {
  margin-bottom: 0;
}

.alerts {
  position: fixed;
  top: 1rem;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 600px;
  margin: auto;
  z-index: 100;
}

.no-data {
  height: 250px;
  border: 3px dashed #eeeeee;
}

.chart-tooltip {
  background-color: #ffffff;
  opacity: 0.7;
}

.legend-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
